@{
    ViewBag.Title = "My Dashboard";
}

<h2>Dashboard</h2>
<div class="col-lg-3">

</div>
<div class="col-lg-9">
    <ul>
        <li>@Html.ActionLink("Teams", "Index", "Team", new { Area = ""})</li>
    </ul>
</div>

