@section scripts
{
    <script>
        var Page = {
            dataTableColumns: [
                { sName: "Name" }
            ],
            dataTableCreateUrl: '@Url.Action("Create")',
            dataTableLoadUrl: '@Url.Action("DataTable")',
            dataTableEditUrl: '@Url.Action("Edit", "Team")',
            dataTableDashboardUrl: '@Url.Action("Dashboard", "Team")',
            dataTableShowDelete: true
        };

        $(function () {
            // Add page functions here
        });
    </script>

    <script src="~/Scripts/page.dataTable.js"></script>
}

@section dialogs {
    @{  Html.RenderAction("Delete", "Dialog", new { Area = "", dialog = new SportsTech.Web.ViewModels.Shared.DeleteDialogViewModel { ControllerName = "Team", Area = "Clubs" } }); }
}

<p>
    <button id="create-btn" class="btn btn-primary">Create</button>
</p>
<div id="create-container" style="display:none;"></div>
<table id="dtable" class="table table-striped table-bordered table-hover responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
