<div class="center-block text-center">
    <hr />
    <button class="btn btn-default">Kick off</button>
    <button class="btn btn-default">Half</button>
    <button class="btn btn-default">Finish</button>
</div>
