@model int

<div class="center-block text-center">
    <button class="btn btn-info">Try</button>
    <button class="btn btn-info">Conversion</button>
    <button class="btn btn-default">Penalty</button>
    <button class="btn btn-default">Drop goal</button>
</div>