@model SportsTech.Web.Areas.Events.ViewModels.Activity.ActivityEventViewModel

<button class="btn btn-danger col-lg-12">    
    @Model.Name    
    <span class="badge pull-right">@Model.Occurances.Count</span>
</button>

